/AccountPage.class
/AccountPageNewUI.class
/ForgotPasswordPage.class
/HomePage.class
/HomePageNewUI.class
/LoginPage.class
/MyLearningPage.class
/MyLearningPageNewUI.class
/SettingsPage.class
/VersionPage.class
/ViewAllPage.class
